openapi: '3.2.0'
info:
  title: LangSmith
  description: "The LangSmith API is used to programmatically create and manage LangSmith resources.\n\n## Host\nhttps://api.smith.langchain.com\n\n## Authentication\nTo authenticate with the LangSmith API, set the `X-Api-Key` header\nto a valid [LangSmith API key](https://docs.langchain.com/langsmith/create-account-api-key#create-an-api-key).\n\n"
  version: 0.1.0
servers:
  - url: https://api.smith.langchain.com
paths:
  /api/v1/audit-logs:
    get:
      tags:
        - audit-logs
      summary: Get Audit Logs
      description: "Retrieve audit log records for the authenticated user's organization in OCSF format.\n\nRequires both start_time and end_time parameters to filter logs within a date range.\nSupports cursor-based pagination.\n\nReturns results in OCSF API Activity (Class UID: 6003) format,\nwhich is compatible with security monitoring and SIEM tools.\nReference: https://schema.ocsf.io/1.7.0/classes/api_activity"
      operationId: get_audit_logs_api_v1_audit_logs_get
      parameters:
        - name: limit
          in: query
          description: Number of items to return
          schema:
            title: Limit
            maximum: 100
            minimum: 1
            type: integer
            description: Number of items to return
            default: 10
        - name: cursor
          in: query
          description: Cursor for pagination (base64-encoded JSON string)
          schema:
            title: Cursor
            anyOf:
              - type: string
              - type: 'null'
            description: Cursor for pagination (base64-encoded JSON string)
        - name: workspace_id
          in: query
          description: Filter by workspace ID
          schema:
            title: Workspace Id
            anyOf:
              - type: string
                format: uuid
              - type: 'null'
            description: Filter by workspace ID
        - name: start_time
          in: query
          description: Start datetime (inclusive) in ISO 8601 format
          required: true
          schema:
            title: Start Time
            type: string
            description: Start datetime (inclusive) in ISO 8601 format
            format: date-time
        - name: end_time
          in: query
          description: End datetime (inclusive) in ISO 8601 format
          required: true
          schema:
            title: End Time
            type: string
            description: End datetime (inclusive) in ISO 8601 format
            format: date-time
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuditLogsOCSFResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  '/api/v1/sessions/{session_id}/dashboard':
    post:
      tags:
        - tracer-sessions
      summary: Get Tracing Project Prebuilt Dashboard
      description: Get a prebuilt dashboard for a tracing project.
      operationId: get_tracing_project_prebuilt_dashboard_api_v1_sessions__session_id__dashboard_post
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: accept
          in: header
          schema:
            title: Accept
            anyOf:
              - type: string
              - type: 'null'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomChartsSectionRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomChartsSection'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/sessions/{session_id}':
    get:
      tags:
        - tracer-sessions
      summary: Read Tracer Session
      description: Get a specific session.
      operationId: read_tracer_session_api_v1_sessions__session_id__get
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: include_stats
          in: query
          schema:
            title: Include Stats
            type: boolean
            default: false
        - name: stats_start_time
          in: query
          schema:
            title: Stats Start Time
            anyOf:
              - type: string
                format: date-time
              - type: 'null'
        - name: accept
          in: header
          schema:
            title: Accept
            anyOf:
              - type: string
              - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracerSession'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    patch:
      tags:
        - tracer-sessions
      summary: Update Tracer Session
      description: Create a new session.
      operationId: update_tracer_session_api_v1_sessions__session_id__patch
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TracerSessionUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracerSessionWithoutVirtualFields'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    delete:
      tags:
        - tracer-sessions
      summary: Delete Tracer Session
      description: Delete a specific session.
      operationId: delete_tracer_session_api_v1_sessions__session_id__delete
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  /api/v1/sessions:
    get:
      tags:
        - tracer-sessions
      summary: Read Tracer Sessions
      description: Get all sessions.
      operationId: read_tracer_sessions_api_v1_sessions_get
      parameters:
        - name: reference_free
          in: query
          schema:
            title: Reference Free
            anyOf:
              - type: boolean
              - type: 'null'
        - name: reference_dataset
          in: query
          schema:
            title: Reference Dataset
            anyOf:
              - type: array
                items:
                  type: string
                  format: uuid
              - type: 'null'
        - name: id
          in: query
          schema:
            title: Id
            anyOf:
              - type: array
                items:
                  type: string
                  format: uuid
              - type: 'null'
        - name: name
          in: query
          schema:
            title: Name
            anyOf:
              - type: string
              - type: 'null'
        - name: name_contains
          in: query
          schema:
            title: Name Contains
            anyOf:
              - type: string
              - type: 'null'
        - name: dataset_version
          in: query
          schema:
            title: Dataset Version
            anyOf:
              - type: string
              - type: 'null'
        - name: sort_by
          in: query
          schema:
            default: start_time
            $ref: '#/components/schemas/SessionSortableColumns'
        - name: sort_by_desc
          in: query
          schema:
            title: Sort By Desc
            type: boolean
            default: true
        - name: metadata
          in: query
          schema:
            title: Metadata
            anyOf:
              - type: string
              - type: 'null'
        - name: sort_by_feedback_key
          in: query
          schema:
            title: Sort By Feedback Key
            anyOf:
              - type: string
              - type: 'null'
        - name: offset
          in: query
          schema:
            title: Offset
            minimum: 0
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            title: Limit
            maximum: 100
            minimum: 1
            type: integer
            default: 100
        - name: tag_value_id
          in: query
          schema:
            title: Tag Value Id
            anyOf:
              - type: array
                items:
                  type: string
                  format: uuid
              - type: 'null'
        - name: facets
          in: query
          schema:
            title: Facets
            type: boolean
            default: false
        - name: filter
          in: query
          schema:
            title: Filter
            anyOf:
              - type: string
              - type: 'null'
        - name: include_stats
          in: query
          schema:
            title: Include Stats
            type: boolean
            default: false
        - name: use_approx_stats
          in: query
          schema:
            title: Use Approx Stats
            type: boolean
            default: false
        - name: stats_start_time
          in: query
          schema:
            title: Stats Start Time
            anyOf:
              - type: string
                format: date-time
              - type: 'null'
        - name: accept
          in: header
          schema:
            title: Accept
            anyOf:
              - type: string
              - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Read Tracer Sessions Api V1 Sessions Get
                type: array
                items:
                  $ref: '#/components/schemas/TracerSession'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - tracer-sessions
      summary: Create Tracer Session
      description: Create a new session.
      operationId: create_tracer_session_api_v1_sessions_post
      parameters:
        - name: upsert
          in: query
          schema:
            title: Upsert
            type: boolean
            default: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TracerSessionCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TracerSessionWithoutVirtualFields'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    delete:
      tags:
        - tracer-sessions
      summary: Delete Tracer Sessions
      description: Delete a specific session.
      operationId: delete_tracer_sessions_api_v1_sessions_delete
      parameters:
        - name: session_ids
          in: query
          required: true
          schema:
            title: Session Ids
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/sessions/{session_id}/metadata':
    get:
      tags:
        - tracer-sessions
      summary: Read Tracer Sessions Runs Metadata
      description: 'Given a session, a number K, and (optionally) a list of metadata keys, return the top K values for each key.'
      operationId: read_tracer_sessions_runs_metadata_api_v1_sessions__session_id__metadata_get
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: metadata_keys
          in: query
          schema:
            title: Metadata Keys
            anyOf:
              - type: array
                items:
                  type: string
              - type: 'null'
        - name: start_time
          in: query
          schema:
            title: Start Time
            anyOf:
              - type: string
                format: date-time
              - type: 'null'
        - name: k
          in: query
          schema:
            title: K
            minimum: 1
            type: integer
            default: 10
        - name: root_runs_only
          in: query
          schema:
            title: Root Runs Only
            type: boolean
            default: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RootModel_Dict_str__list_str___'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/sessions/{session_id}/views':
    get:
      tags:
        - tracer-sessions
      summary: Read Filter Views
      description: Get all filter views for a session.
      operationId: read_filter_views_api_v1_sessions__session_id__views_get
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: type
          in: query
          schema:
            title: Type
            anyOf:
              - $ref: '#/components/schemas/FilterViewType'
              - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Read Filter Views Api V1 Sessions  Session Id  Views Get
                type: array
                items:
                  $ref: '#/components/schemas/FilterView'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - tracer-sessions
      summary: Create Filter View
      description: Create a new filter view.
      operationId: create_filter_view_api_v1_sessions__session_id__views_post
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterViewCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterView'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/sessions/{session_id}/views/{view_id}':
    get:
      tags:
        - tracer-sessions
      summary: Read Filter View
      description: Get a specific filter view.
      operationId: read_filter_view_api_v1_sessions__session_id__views__view_id__get
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: view_id
          in: path
          required: true
          schema:
            title: View Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterView'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    patch:
      tags:
        - tracer-sessions
      summary: Update Filter View
      description: Update a filter view.
      operationId: update_filter_view_api_v1_sessions__session_id__views__view_id__patch
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: view_id
          in: path
          required: true
          schema:
            title: View Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterViewUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterView'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    delete:
      tags:
        - tracer-sessions
      summary: Delete Filter View
      description: Delete a specific filter view.
      operationId: delete_filter_view_api_v1_sessions__session_id__views__view_id__delete
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: view_id
          in: path
          required: true
          schema:
            title: View Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/sessions/{session_id}/views/{view_id}/rename':
    patch:
      tags:
        - tracer-sessions
      summary: Rename Filter View
      description: Rename a filter view (display_name and description only).
      operationId: rename_filter_view_api_v1_sessions__session_id__views__view_id__rename_patch
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: view_id
          in: path
          required: true
          schema:
            title: View Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FilterViewRename'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FilterView'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/sessions/{session_id}/insights':
    get:
      tags:
        - tracer-sessions
      summary: '[Beta] Get Insights Jobs'
      description: Get all clusters for a session.
      operationId: _Beta__Get_Insights_Jobs_api_v1_sessions__session_id__insights_get
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            title: Limit
            maximum: 100
            minimum: 1
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            title: Offset
            minimum: 0
            type: integer
            default: 0
        - name: config_id
          in: query
          schema:
            title: Config Id
            anyOf:
              - type: string
                format: uuid
              - type: 'null'
        - name: legacy
          in: query
          schema:
            title: Legacy
            anyOf:
              - type: boolean
              - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRunClusteringJobsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - tracer-sessions
      summary: '[Beta] Create Insights Job'
      description: Create an insights job.
      operationId: _Beta__Create_Insights_Job_api_v1_sessions__session_id__insights_post
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRunClusteringJobRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRunClusteringJobResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/sessions/{session_id}/insights/configs':
    get:
      tags:
        - tracer-sessions
      summary: '[Beta] Get Insights Job Configs'
      description: Get all insights job configs for a session.
      operationId: _Beta__Get_Insights_Job_Configs_api_v1_sessions__session_id__insights_configs_get
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: include_prebuilts
          in: query
          schema:
            title: Include Prebuilts
            type: boolean
            default: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetClusteringJobConfigsResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - tracer-sessions
      summary: '[Beta] Create Insights Job Config'
      description: Save an insights job config.
      operationId: _Beta__Create_Insights_Job_Config_api_v1_sessions__session_id__insights_configs_post
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClusteringJobConfigRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClusteringJobConfigResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/sessions/{session_id}/insights/configs/generate':
    post:
      tags:
        - tracer-sessions
      summary: '[Beta] Auto-Generate Insights Job Config'
      description: Auto-generate an insights job config.
      operationId: _Beta__Auto_Generate_Insights_Job_Config_api_v1_sessions__session_id__insights_configs_generate_post
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateClusteringJobConfigRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateClusteringJobConfigResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/sessions/{session_id}/insights/configs/{config_id}':
    patch:
      tags:
        - tracer-sessions
      summary: '[Beta] Update Insights Job Config'
      description: Update an insights job config.
      operationId: _Beta__Update_Insights_Job_Config_api_v1_sessions__session_id__insights_configs__config_id__patch
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: config_id
          in: path
          required: true
          schema:
            title: Config Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClusteringJobConfigRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateClusteringJobConfigResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    delete:
      tags:
        - tracer-sessions
      summary: '[Beta] Delete Insights Job Config'
      description: Delete an insights job config.
      operationId: _Beta__Delete_Insights_Job_Config_api_v1_sessions__session_id__insights_configs__config_id__delete
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: config_id
          in: path
          required: true
          schema:
            title: Config Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteClusteringJobConfigResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/sessions/{session_id}/insights/{job_id}':
    get:
      tags:
        - tracer-sessions
      summary: '[Beta] Get Insights Job'
      description: Get a specific cluster job for a session.
      operationId: _Beta__Get_Insights_Job_api_v1_sessions__session_id__insights__job_id__get
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: job_id
          in: path
          required: true
          schema:
            title: Job Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRunClusteringJobResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    patch:
      tags:
        - tracer-sessions
      summary: '[Beta] Update Insights Job'
      description: Update a session cluster job.
      operationId: _Beta__Update_Insights_Job_api_v1_sessions__session_id__insights__job_id__patch
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: job_id
          in: path
          required: true
          schema:
            title: Job Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRunClusteringJobRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateRunClusteringJobResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    delete:
      tags:
        - tracer-sessions
      summary: '[Beta] Delete Insights Job'
      description: Delete a session cluster job.
      operationId: _Beta__Delete_Insights_Job_api_v1_sessions__session_id__insights__job_id__delete
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: job_id
          in: path
          required: true
          schema:
            title: Job Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRunClusteringJobResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/sessions/{session_id}/insights/{job_id}/clusters/{cluster_id}':
    get:
      tags:
        - tracer-sessions
      summary: '[Beta] Get Run Cluster From Insights Job'
      description: Get a specific cluster for a session.
      operationId: _Beta__Get_Run_Cluster_from_Insights_Job_api_v1_sessions__session_id__insights__job_id__clusters__cluster_id__get
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: job_id
          in: path
          required: true
          schema:
            title: Job Id
            type: string
            format: uuid
        - name: cluster_id
          in: path
          required: true
          schema:
            title: Cluster Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRunClusterResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/sessions/{session_id}/insights/{job_id}/runs':
    get:
      tags:
        - tracer-sessions
      summary: '[Beta] Get Runs From Insights Job'
      description: 'Get all runs for a cluster job, optionally filtered by cluster.'
      operationId: _Beta__Get_Runs_from_Insights_Job_api_v1_sessions__session_id__insights__job_id__runs_get
      parameters:
        - name: session_id
          in: path
          required: true
          schema:
            title: Session Id
            type: string
            format: uuid
        - name: job_id
          in: path
          required: true
          schema:
            title: Job Id
            type: string
            format: uuid
        - name: cluster_id
          in: query
          schema:
            title: Cluster Id
            anyOf:
              - type: string
                format: uuid
              - type: 'null'
        - name: limit
          in: query
          schema:
            title: Limit
            maximum: 100
            minimum: 1
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            title: Offset
            minimum: 0
            type: integer
            default: 0
        - name: attribute_sort_key
          in: query
          schema:
            title: Attribute Sort Key
            anyOf:
              - type: string
              - type: 'null'
        - name: attribute_sort_order
          in: query
          schema:
            title: Attribute Sort Order
            anyOf:
              - enum:
                  - asc
                  - desc
                type: string
              - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchClusteringJobRunsResult'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs:
    get:
      tags:
        - orgs
      summary: List Organizations
      description: Get all orgs visible to this auth
      operationId: list_organizations_api_v1_orgs_get
      parameters:
        - name: skip_create
          in: query
          schema:
            title: Skip Create
            type: boolean
            default: false
        - name: include_tier
          in: query
          schema:
            title: Include Tier
            type: boolean
            default: false
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response List Organizations Api V1 Orgs Get
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationPGSchemaSlim'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - BearerAuth: [ ]
    post:
      tags:
        - orgs
      summary: Create Organization
      operationId: create_organization_api_v1_orgs_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationPGSchemaSlim'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - BearerAuth: [ ]
  /api/v1/orgs/current/setup:
    post:
      tags:
        - orgs
      summary: Create Customers And Get Stripe Setup Intent
      operationId: create_customers_and_get_stripe_setup_intent_api_v1_orgs_current_setup_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeSetupIntentResponse'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current:
    get:
      tags:
        - orgs
      summary: Get Organization Info
      operationId: get_organization_info_api_v1_orgs_current_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/info:
    get:
      tags:
        - orgs
      summary: Get Current Organization Info
      operationId: get_current_organization_info_api_v1_orgs_current_info_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInfo'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
    patch:
      tags:
        - orgs
      summary: Update Current Organization Info
      operationId: update_current_organization_info_api_v1_orgs_current_info_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInfo'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/billing:
    get:
      tags:
        - orgs
      summary: Get Organization Billing Info
      operationId: get_organization_billing_info_api_v1_orgs_current_billing_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationBillingInfo'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/dashboard:
    get:
      tags:
        - orgs
      summary: Get Dashboard
      operationId: get_dashboard_api_v1_orgs_current_dashboard_get
      parameters:
        - name: type
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/OrganizationDashboardType'
        - name: color_scheme
          in: query
          required: true
          schema:
            title: Color Scheme
            anyOf:
              - $ref: '#/components/schemas/OrganizationDashboardColorScheme'
              - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationDashboardSchema'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/payment-method:
    post:
      tags:
        - orgs
      summary: On Payment Method Created
      operationId: on_payment_method_created_api_v1_orgs_current_payment_method_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripePaymentInformation'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/business-info:
    get:
      tags:
        - orgs
      summary: Get Company Info
      operationId: get_company_info_api_v1_orgs_current_business_info_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StripeBusinessInfo-Output'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - orgs
      summary: Set Company Info
      operationId: set_company_info_api_v1_orgs_current_business_info_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeBusinessInfo-Input'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/plan:
    post:
      tags:
        - orgs
      summary: Change Payment Plan
      operationId: change_payment_plan_api_v1_orgs_current_plan_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePaymentPlanSchema'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/roles:
    get:
      tags:
        - orgs
      summary: List Organization Roles
      operationId: list_organization_roles_api_v1_orgs_current_roles_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response List Organization Roles Api V1 Orgs Current Roles Get
                type: array
                items:
                  $ref: '#/components/schemas/Role'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - orgs
      summary: Create Organization Roles
      operationId: create_organization_roles_api_v1_orgs_current_roles_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRoleRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  '/api/v1/orgs/current/roles/{role_id}':
    delete:
      tags:
        - orgs
      summary: Delete Organization Roles
      operationId: delete_organization_roles_api_v1_orgs_current_roles__role_id__delete
      parameters:
        - name: role_id
          in: path
          required: true
          schema:
            title: Role Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
    patch:
      tags:
        - orgs
      summary: Update Organization Roles
      operationId: update_organization_roles_api_v1_orgs_current_roles__role_id__patch
      parameters:
        - name: role_id
          in: path
          required: true
          schema:
            title: Role Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRoleRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/permissions:
    get:
      tags:
        - orgs
      summary: List Permissions
      operationId: list_permissions_api_v1_orgs_permissions_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response List Permissions Api V1 Orgs Permissions Get
                type: array
                items:
                  $ref: '#/components/schemas/PermissionResponse'
      security:
        - BearerAuth: [ ]
  /api/v1/orgs/pending:
    get:
      tags:
        - orgs
      summary: List Pending Organization Invites
      description: Get all pending orgs visible to this auth
      operationId: list_pending_organization_invites_api_v1_orgs_pending_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response List Pending Organization Invites Api V1 Orgs Pending Get
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationPGSchemaSlim'
      security:
        - BearerAuth: [ ]
  /api/v1/orgs/current/members:
    get:
      tags:
        - orgs
      summary: Get Current Org Members
      operationId: get_current_org_members_api_v1_orgs_current_members_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMembers'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - orgs
      summary: Add Member To Current Org
      operationId: add_member_to_current_org_api_v1_orgs_current_members_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PendingIdentityCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PendingIdentity'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/members/active:
    get:
      tags:
        - orgs
      summary: Get Current Active Org Members
      operationId: get_current_active_org_members_api_v1_orgs_current_members_active_get
      parameters:
        - name: limit
          in: query
          schema:
            title: Limit
            maximum: 500
            minimum: 1
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            title: Offset
            minimum: 0
            type: integer
            default: 0
        - name: emails
          in: query
          schema:
            title: Emails
            type: array
            items:
              type: string
            default: [ ]
        - name: q
          in: query
          description: Search query for email
          schema:
            title: Q
            anyOf:
              - type: string
              - type: 'null'
            description: Search query for email
        - name: sort_by_desc
          in: query
          description: Sort in descending order
          schema:
            title: Sort By Desc
            type: boolean
            description: Sort in descending order
            default: true
        - name: ls_user_ids
          in: query
          schema:
            title: Ls User Ids
            type: array
            items:
              type: string
              format: uuid
            default: [ ]
        - name: user_ids
          in: query
          deprecated: true
          schema:
            title: User Ids
            type: array
            items:
              type: string
              format: uuid
            deprecated: true
        - name: is_disabled
          in: query
          schema:
            title: Is Disabled
            anyOf:
              - type: boolean
              - type: 'null'
        - name: sort_by
          in: query
          description: Field to sort by
          schema:
            description: Field to sort by
            default: created_at
            $ref: '#/components/schemas/MemberSortField'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Current Active Org Members Api V1 Orgs Current Members Active Get
                type: array
                items:
                  $ref: '#/components/schemas/OrgMemberIdentity'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/members/pending:
    get:
      tags:
        - orgs
      summary: Get Current Pending Org Members
      operationId: get_current_pending_org_members_api_v1_orgs_current_members_pending_get
      parameters:
        - name: limit
          in: query
          schema:
            title: Limit
            maximum: 500
            minimum: 1
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            title: Offset
            minimum: 0
            type: integer
            default: 0
        - name: emails
          in: query
          schema:
            title: Emails
            type: array
            items:
              type: string
            default: [ ]
        - name: q
          in: query
          description: Search query for email
          schema:
            title: Q
            anyOf:
              - type: string
              - type: 'null'
            description: Search query for email
        - name: sort_by_desc
          in: query
          description: Sort in descending order
          schema:
            title: Sort By Desc
            type: boolean
            description: Sort in descending order
            default: true
        - name: sort_by
          in: query
          description: Field to sort by
          schema:
            description: Field to sort by
            default: created_at
            $ref: '#/components/schemas/MemberSortField'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Current Pending Org Members Api V1 Orgs Current Members Pending Get
                type: array
                items:
                  $ref: '#/components/schemas/OrgPendingIdentity'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/members/batch:
    post:
      tags:
        - orgs
      summary: Add Members To Current Org Batch
      description: Batch invite up to 500 users to the current org.
      operationId: add_members_to_current_org_batch_api_v1_orgs_current_members_batch_post
      requestBody:
        content:
          application/json:
            schema:
              title: Payloads
              type: array
              items:
                $ref: '#/components/schemas/PendingIdentityCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Add Members To Current Org Batch Api V1 Orgs Current Members Batch Post
                type: array
                items:
                  $ref: '#/components/schemas/PendingIdentity'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/members/basic/batch:
    post:
      tags:
        - orgs
      summary: Add Basic Auth Members To Current Org
      description: Batch add up to 500 users to the org and specified workspaces in basic auth mode.
      operationId: add_basic_auth_members_to_current_org_api_v1_orgs_current_members_basic_batch_post
      requestBody:
        content:
          application/json:
            schema:
              title: Payloads
              type: array
              items:
                $ref: '#/components/schemas/BasicAuthMemberCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Add Basic Auth Members To Current Org Api V1 Orgs Current Members Basic Batch Post
                type: array
                items:
                  $ref: '#/components/schemas/UserWithPassword'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  '/api/v1/orgs/current/members/{identity_id}/pending':
    delete:
      tags:
        - orgs
      summary: Delete Current Org Pending Member
      description: When an admin deletes a pending member invite.
      operationId: delete_current_org_pending_member_api_v1_orgs_current_members__identity_id__pending_delete
      parameters:
        - name: identity_id
          in: path
          required: true
          schema:
            title: Identity Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  '/api/v1/orgs/pending/{organization_id}':
    delete:
      tags:
        - orgs
      summary: Delete Pending Organization Invite
      operationId: delete_pending_organization_invite_api_v1_orgs_pending__organization_id__delete
      parameters:
        - name: organization_id
          in: path
          required: true
          schema:
            title: Organization Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - BearerAuth: [ ]
  '/api/v1/orgs/pending/{organization_id}/claim':
    post:
      tags:
        - orgs
      summary: Claim Pending Organization Invite
      operationId: claim_pending_organization_invite_api_v1_orgs_pending__organization_id__claim_post
      parameters:
        - name: organization_id
          in: path
          required: true
          schema:
            title: Organization Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Identity'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - BearerAuth: [ ]
  '/api/v1/orgs/current/members/{identity_id}':
    delete:
      tags:
        - orgs
      summary: Remove Member From Current Org
      description: Remove a user from the current organization.
      operationId: remove_member_from_current_org_api_v1_orgs_current_members__identity_id__delete
      parameters:
        - name: identity_id
          in: path
          required: true
          schema:
            title: Identity Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
    patch:
      tags:
        - orgs
      summary: Update Current Org Member
      description: This is used for updating a user's role (all auth modes) or full_name/password (basic auth)
      operationId: update_current_org_member_api_v1_orgs_current_members__identity_id__patch
      parameters:
        - name: identity_id
          in: path
          required: true
          schema:
            title: Identity Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgIdentityPatch'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/members/basic:
    patch:
      tags:
        - orgs
      summary: Update Current User
      description: Update a user's full_name/password (basic auth only)
      operationId: update_current_user_api_v1_orgs_members_basic_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BasicAuthUserPatch'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/ttl-settings:
    get:
      tags:
        - orgs
      summary: List Ttl Settings
      description: List out the configured TTL settings for a given org (org-level and tenant-level).
      operationId: list_ttl_settings_api_v1_orgs_ttl_settings_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response List Ttl Settings Api V1 Orgs Ttl Settings Get
                type: array
                items:
                  $ref: '#/components/schemas/TTLSettings'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
    put:
      tags:
        - orgs
      summary: Upsert Ttl Settings
      operationId: upsert_ttl_settings_api_v1_orgs_ttl_settings_put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertTTLSettingsRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TTLSettings'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/sso-settings:
    get:
      tags:
        - orgs
      summary: Get Current Sso Settings
      description: Get SSO provider settings for the current organization.
      operationId: get_current_sso_settings_api_v1_orgs_current_sso_settings_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Current Sso Settings Api V1 Orgs Current Sso Settings Get
                type: array
                items:
                  $ref: '#/components/schemas/SSOProvider'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - orgs
      summary: Create Sso Settings
      description: Create SSO provider settings for the current organization.
      operationId: create_sso_settings_api_v1_orgs_current_sso_settings_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSOSettingsCreate'
        required: true
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOProvider'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  '/api/v1/orgs/current/sso-settings/{id}':
    patch:
      tags:
        - orgs
      summary: Update Sso Settings
      description: Update SSO provider settings defaults for the current organization.
      operationId: update_sso_settings_api_v1_orgs_current_sso_settings__id__patch
      parameters:
        - name: id
          in: path
          required: true
          schema:
            title: Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSOSettingsUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOProvider'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
    delete:
      tags:
        - orgs
      summary: Delete Sso Settings
      description: Delete SSO provider settings for the current organization.
      operationId: delete_sso_settings_api_v1_orgs_current_sso_settings__id__delete
      parameters:
        - name: id
          in: path
          required: true
          schema:
            title: Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOProvider'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/login-methods:
    patch:
      tags:
        - orgs
      summary: Update Allowed Login Methods
      description: Update allowed login methods for the current organization.
      operationId: update_allowed_login_methods_api_v1_orgs_current_login_methods_patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllowedLoginMethodsUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Update Allowed Login Methods Api V1 Orgs Current Login Methods Patch
                type: object
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/billing/usage:
    get:
      tags:
        - orgs
      summary: Get Org Usage
      operationId: get_org_usage_api_v1_orgs_current_billing_usage_get
      parameters:
        - name: starting_on
          in: query
          required: true
          schema:
            title: Starting On
            type: string
            format: date-time
        - name: ending_before
          in: query
          required: true
          schema:
            title: Ending Before
            type: string
            format: date-time
        - name: on_current_plan
          in: query
          schema:
            title: On Current Plan
            type: boolean
            default: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Org Usage Api V1 Orgs Current Billing Usage Get
                type: array
                items:
                  $ref: '#/components/schemas/OrgUsage'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/billing/granular-usage:
    get:
      tags:
        - orgs
      summary: Get Granular Usage
      description: "Get granular usage data with flexible grouping.\n\nworkspace_ids filters results to the specified workspaces. Only workspaces\nthe user has read access to will be included in the results."
      operationId: get_granular_usage_api_v1_orgs_current_billing_granular_usage_get
      parameters:
        - name: start_time
          in: query
          required: true
          schema:
            title: Start Time
            type: string
            format: date-time
        - name: end_time
          in: query
          required: true
          schema:
            title: End Time
            type: string
            format: date-time
        - name: workspace_ids
          in: query
          required: true
          schema:
            title: Workspace Ids
            type: array
            items:
              type: string
              format: uuid
        - name: group_by
          in: query
          schema:
            default: workspace
            $ref: '#/components/schemas/GranularUsageGroupBy'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GranularUsageResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/billing/granular-usage/export:
    get:
      tags:
        - orgs
      summary: Export Granular Usage Csv
      description: "Export granular usage data as CSV.\n\nReturns the same data as the granular-usage endpoint but formatted as a\ndownloadable CSV file. Only workspaces the user has read access to will\nbe included in the results."
      operationId: export_granular_usage_csv_api_v1_orgs_current_billing_granular_usage_export_get
      parameters:
        - name: start_time
          in: query
          required: true
          schema:
            title: Start Time
            type: string
            format: date-time
        - name: end_time
          in: query
          required: true
          schema:
            title: End Time
            type: string
            format: date-time
        - name: workspace_ids
          in: query
          required: true
          schema:
            title: Workspace Ids
            type: array
            items:
              type: string
              format: uuid
        - name: group_by
          in: query
          schema:
            default: workspace
            $ref: '#/components/schemas/GranularUsageGroupBy'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/user/login-methods:
    get:
      tags:
        - orgs
      summary: Get Current User Login Methods
      description: Get login methods for the current user.
      operationId: get_current_user_login_methods_api_v1_orgs_current_user_login_methods_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Current User Login Methods Api V1 Orgs Current User Login Methods Get
                type: array
                items:
                  $ref: '#/components/schemas/ProviderUserSlim'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/stripe_checkout_session:
    post:
      tags:
        - orgs
      summary: Create Stripe Checkout Sessions Endpoint
      description: Kick off a Stripe checkout session flow.
      operationId: create_stripe_checkout_sessions_endpoint_api_v1_orgs_current_stripe_checkout_session_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeCheckoutSessionsCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/stripe_account_links:
    post:
      tags:
        - orgs
      summary: Create Stripe Account Links Endpoint
      description: Kick off a Stripe account link flow.
      operationId: create_stripe_account_links_endpoint_api_v1_orgs_current_stripe_account_links_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StripeAccountLinksCreate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/service-keys:
    get:
      tags:
        - orgs
      summary: List Org Service Keys
      operationId: list_org_service_keys_api_v1_orgs_current_service_keys_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response List Org Service Keys Api V1 Orgs Current Service Keys Get
                type: array
                items:
                  $ref: '#/components/schemas/APIKeyGetResponse'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - orgs
      summary: Create Org Service Key
      description: 'Create org-scoped service key. If workspaces is None, key is org-wide.'
      operationId: create_org_service_key_api_v1_orgs_current_service_keys_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyCreateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyCreateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  '/api/v1/orgs/current/service-keys/{api_key_id}':
    delete:
      tags:
        - orgs
      summary: Delete Org Service Key
      operationId: delete_org_service_key_api_v1_orgs_current_service_keys__api_key_id__delete
      parameters:
        - name: api_key_id
          in: path
          required: true
          schema:
            title: Api Key Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyGetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/personal-access-tokens:
    get:
      tags:
        - orgs
      summary: List Org Personal Access Tokens
      operationId: list_org_personal_access_tokens_api_v1_orgs_current_personal_access_tokens_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response List Org Personal Access Tokens Api V1 Orgs Current Personal Access Tokens Get
                type: array
                items:
                  $ref: '#/components/schemas/APIKeyGetResponse'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - orgs
      summary: Create Org Personal Access Token
      operationId: create_org_personal_access_token_api_v1_orgs_current_personal_access_tokens_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/APIKeyCreateRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyCreateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  '/api/v1/orgs/current/personal-access-tokens/{pat_id}':
    delete:
      tags:
        - orgs
      summary: Delete Org Personal Access Token
      operationId: delete_org_personal_access_token_api_v1_orgs_current_personal_access_tokens__pat_id__delete
      parameters:
        - name: pat_id
          in: path
          required: true
          schema:
            title: Pat Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyGetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/orgs/current/set-default-sso-provision:
    post:
      tags:
        - orgs
      summary: Set Default Sso Provision
      description: Set the current organization as the default for SSO provisioning in self-hosted environments.
      operationId: set_default_sso_provision_api_v1_orgs_current_set_default_sso_provision_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Set Default Sso Provision Api V1 Orgs Current Set Default Sso Provision Post
                type: object
      security:
        - ApiKey: [ ]
        - OrganizationId: [ ]
        - BearerAuth: [ ]
  /api/v1/login:
    post:
      tags:
        - auth
      summary: Login
      operationId: login_api_v1_login_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BasicAuthResponse'
  /api/v1/sso/email-verification/send:
    post:
      tags:
        - auth
      summary: Send Sso Email Confirmation
      description: Send an email to confirm the email address for an SSO user.
      operationId: send_sso_email_confirmation_api_v1_sso_email_verification_send_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSOEmailVerificationSendRequest'
        required: true
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Send Sso Email Confirmation Api V1 Sso Email Verification Send Post
                type: object
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - BearerAuth: [ ]
  /api/v1/sso/email-verification/status:
    post:
      tags:
        - auth
      summary: Check Sso Email Verification Status
      description: Retrieve the email verification status of an SSO user.
      operationId: check_sso_email_verification_status_api_v1_sso_email_verification_status_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSOEmailVerificationStatusRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSOEmailVerificationStatusResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/sso/email-verification/confirm:
    post:
      tags:
        - auth
      summary: Confirm Sso User Email
      description: Confirm the email of an SSO user.
      operationId: confirm_sso_user_email_api_v1_sso_email_verification_confirm_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSOConfirmEmailRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Confirm Sso User Email Api V1 Sso Email Verification Confirm Post
                type: object
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  '/api/v1/sso/settings/{sso_login_slug}':
    get:
      tags:
        - auth
      summary: Get Sso Settings
      description: Get SSO provider settings from login slug.
      operationId: get_sso_settings_api_v1_sso_settings__sso_login_slug__get
      parameters:
        - name: sso_login_slug
          in: path
          required: true
          schema:
            title: Sso Login Slug
            type: string
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Sso Settings Api V1 Sso Settings  Sso Login Slug  Get
                type: array
                items:
                  $ref: '#/components/schemas/SSOProviderSlim'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/api-key:
    get:
      tags:
        - api-key
      summary: Get Api Keys
      description: Get the current tenant's API keys
      operationId: get_api_keys_api_v1_api_key_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Api Keys Api V1 Api Key Get
                type: array
                items:
                  $ref: '#/components/schemas/APIKeyGetResponse'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - api-key
      summary: Generate Api Key
      description: Generate an api key for the user
      operationId: generate_api_key_api_v1_api_key_post
      requestBody:
        content:
          application/json:
            schema:
              default:
                description: Default API key
                read_only: false
              $ref: '#/components/schemas/APIKeyCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyCreateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/api-key/{api_key_id}':
    delete:
      tags:
        - api-key
      summary: Delete Api Key
      description: Delete an api key for the user
      operationId: delete_api_key_api_v1_api_key__api_key_id__delete
      parameters:
        - name: api_key_id
          in: path
          required: true
          schema:
            title: Api Key Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyGetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  /api/v1/api-key/current:
    get:
      tags:
        - api-key
      summary: Get Personal Access Tokens
      description: 'DEPRECATED: Use /orgs/current/personal-access-tokens instead'
      operationId: get_personal_access_tokens_api_v1_api_key_current_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Get Personal Access Tokens Api V1 Api Key Current Get
                type: array
                items:
                  $ref: '#/components/schemas/APIKeyGetResponse'
      deprecated: true
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    post:
      tags:
        - api-key
      summary: Generate Personal Access Token
      description: 'DEPRECATED: Use /orgs/current/personal-access-tokens instead'
      operationId: generate_personal_access_token_api_v1_api_key_current_post
      requestBody:
        content:
          application/json:
            schema:
              default:
                description: Default API key
                read_only: false
              $ref: '#/components/schemas/APIKeyCreateRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyCreateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/api-key/current/{pat_id}':
    delete:
      tags:
        - api-key
      summary: Delete Personal Access Token
      description: 'DEPRECATED: Use /orgs/current/personal-access-tokens/{pat_id} instead'
      operationId: delete_personal_access_token_api_v1_api_key_current__pat_id__delete
      parameters:
        - name: pat_id
          in: path
          required: true
          schema:
            title: Pat Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/APIKeyGetResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      deprecated: true
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  /api/v1/examples/count:
    get:
      tags:
        - examples
      summary: Count Examples
      description: Count all examples by query params
      operationId: count_examples_api_v1_examples_count_get
      parameters:
        - name: id
          in: query
          schema:
            title: Id
            anyOf:
              - type: array
                items:
                  type: string
                  format: uuid
              - type: 'null'
        - name: as_of
          in: query
          description: 'Only modifications made on or before this time are included. If None, the latest version of the dataset is used.'
          schema:
            title: As Of
            anyOf:
              - type: string
                format: date-time
              - type: string
            description: 'Only modifications made on or before this time are included. If None, the latest version of the dataset is used.'
            default: latest
        - name: metadata
          in: query
          schema:
            title: Metadata
            anyOf:
              - type: string
              - type: 'null'
        - name: full_text_contains
          in: query
          schema:
            title: Full Text Contains
            anyOf:
              - type: array
                items:
                  type: string
              - type: 'null'
        - name: splits
          in: query
          schema:
            title: Splits
            anyOf:
              - type: array
                items:
                  type: string
              - type: 'null'
        - name: dataset
          in: query
          schema:
            title: Dataset
            anyOf:
              - type: string
                format: uuid
              - type: 'null'
        - name: filter
          in: query
          schema:
            title: Filter
            anyOf:
              - type: string
              - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                title: Response Count Examples Api V1 Examples Count Get
                type: integer
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  '/api/v1/examples/{example_id}':
    get:
      tags:
        - examples
      summary: Read Example
      description: Get a specific example.
      operationId: read_example_api_v1_examples__example_id__get
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            title: Example Id
            type: string
            format: uuid
        - name: as_of
          in: query
          description: 'Only modifications made on or before this time are included. If None, the latest version of the dataset is used.'
          schema:
            title: As Of
            anyOf:
              - type: string
                format: date-time
              - type: string
            description: 'Only modifications made on or before this time are included. If None, the latest version of the dataset is used.'
            default: latest
        - name: dataset
          in: query
          schema:
            title: Dataset
            anyOf:
              - type: string
                format: uuid
              - type: 'null'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Example'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    patch:
      tags:
        - examples
      summary: Update Example
      description: Update a specific example.
      operationId: update_example_api_v1_examples__example_id__patch
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            title: Example Id
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExampleUpdate'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
    delete:
      tags:
        - examples
      summary: Delete Example
      description: Soft delete an example. Only deletes the example in the 'latest' version of the dataset.
      operationId: delete_example_api_v1_examples__example_id__delete
      parameters:
        - name: example_id
          in: path
          required: true
          schema:
            title: Example Id
            type: string
            format: uuid
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: { }
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
        - ApiKey: [ ]
        - TenantId: [ ]
        - BearerAuth: [ ]
  /api/v1/examples:
    get:
      tags:
        - examples
      summary: Read Examples
      description: Get all examples by query params
      operationId: read_examples_api_v1_examples_get
      parameters:
        - name: id
          in: query
          schema:
            title: Id
            anyOf:
              - type: array
[...]
